div.imageblock,
div.listingblock,
div.paragraph {
    padding-bottom: 1rem;
}

pre.rouge.highlight {
    background-color: #AAAAAA;
}

.sr-text-centre {
    text-align: center;
}

.sr-xxxlarge {
    font-size: 48px;
}
